body {
    display: flex;
    justify-content: center;
    background-color: #f4f4f5;
    background-image: url('/hand.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}